h2 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1.1rem;
}

h1 {
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

h3 {
  font-weight: 400;
  font-size: 2.8rem;
  letter-spacing: 1.1rem;
}

h4 {
  font: normal small-caps bold 2rem Playfair Display, serif;
  font-weight: 500;
  font-size: 6rem;
  letter-spacing: 0.4rem;
}

h5 {
  font: normal small-caps 2rem Playfair Display, serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
}

p.para {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}
