.skills {
  text-align: center;
  background-color: $color-primary;
  position: relative;
  &--heading {
    color: white;
    padding-top: 15rem;
  }
  &__box {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    &--skill {
      width: 33%;
      padding: 2rem;
      height: auto;
      margin: 0 auto;
    }
    &--img {
      width: 60%;
      height: auto;
    }
    &--name {
      color: white;
      @media (max-width: 700px) {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .flexbox-even {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}
